<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="behrman.justin.financialmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreateAccountActivity"
            android:label="@string/create_account_title" />
        <activity
            android:name=".activities.MenuActivity"
            android:label="@string/menu_title" />
        <activity
            android:name=".activities.AddManualCardActivity"
            android:label="@string/add_manual_card_title" />
        <activity
            android:name=".activities.PlaidActivity"
            android:label="@string/add_auto_card_title" />
        <activity
            android:name=".activities.SelectCardActivity"
            android:label="@string/select_card_title" />
        <activity android:name=".activities.ViewAutoHistoryActivity" />
        <activity android:name=".activities.ViewManualHistoryActivity" />
        <activity
            android:name=".activities.ViewTransactionsForDateActivity"
            android:noHistory="true" />
        <activity
            android:name=".activities.EditCardActivity"
            android:label="@string/edit_card_title" />
        <activity
            android:name=".activities.AddManualTransactionActivity"
            android:label="@string/add_manual_transaction_title" />
        <activity
            android:name=".activities.EditTransactionActivity"
            android:label="@string/edit_transaction_title" />
        <activity android:name=".activities.DeleteCardActivity" />
        <activity
            android:name=".activities.MonthlyCalculationsActivity"
            android:label="@string/monthly_calculations_title" />
        <activity
            android:name=".activities.MonthlyCalculationResultsActivity"
            android:label="@string/monthly_results_title" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="@string/reset_password_title" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.DeleteUserActivity" />
        <activity
            android:name=".activities.QueryTransactionActivity"
            android:label="@string/query_transactions_title" />
        <activity android:name=".activities.QueryTransactionsResultActivity" android:label="@string/query_transactions_result_title"></activity>
    </application>

</manifest>